body, html{
    background-image: url("https://giffiles.alphacoders.com/129/129797.gif");
   
    background-size: cover;  
  
}

#card{
    padding: 50px;
    margin: auto;
    width: 180px;
    height: 280px;
    background-color: rgb(255, 250, 208);
  
    
}


#card,  p{
    color: blue;
    font-size: 25px;
}


#card, img{
    width: 150px;
    
}

